ion-card-subtitle {
    text-align: right !important;
    float: right !important;
}

.active-heart {
    color: #820D2D !important;
}

.class-1 {
    background-color: #0094ff !important;
}

.class-2 {
    background-color: #c7ea46 !important;
}

.class-3 {
    background-color: #ff6a00 !important;
}

ion-card-content {
    color: #000000;
}
